<div class="card border-primary my-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la tabla
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>apellido</th>
          <th>Email</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                name="button"
                [routerLink]="['/clientes/form', cliente.id]"
              >
                Editar
              </button>
            </div>

            <div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                name="button"
                (click)="delete(cliente)"
              >
                Borrar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
