<div class="card border-primary my-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado Clientes</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>apellido</th>
          <th>Email</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)="editar(cliente.id)"
              >
                Editar
              </button>
            </div>

            <div>
              <button
                type="button"
                class="btn btn-info btn-sm"
                (click)="ver(cliente.id)"
              >
                Ver
              </button>
            </div>

            <div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="borrar(cliente.id)"
              >
                Borrar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
